.setboard { 
  color: black;
}

#left_board {
  float: left;
}

#right_board {
  float: right;
}

h1 {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  color: red;
}

p {
  text-align: center;
  color: red;
}
